<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>Recipe name</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
      aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">OLA
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">To Shopping list</a></li>
            <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
            <li><a class="dropdown-item" href="#">SDelete Recipe</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    description
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
